<form name="frmJump" id="frmJump" action="#">
	<div class="mini-cal" role="navigation" aria-labelledby="mini-cal">
		<h2 class="sr-only" id="mini-cal">Mini Calendar</h2>
		<ul class="navigation">
			<li class="nav"><a href="http://helios.oudemo.com/?d=2018-09-01" id="fe_pm" rel="nofollow" title="Previous Month"><span class="sr-only">Previous Month</span>&lt;</a></li>
			<li class="title">
		<label class="sr-only" for="fe_jm">Choose a month</label>
		<select name="jumpMonth" id="fe_jm">
			<option value="http://helios.oudemo.com/?d=2017-10-01&amp;b=1">Oct 2017</option>
			<option value="http://helios.oudemo.com/?d=2017-11-01&amp;b=1">Nov 2017</option>
			<option value="http://helios.oudemo.com/?d=2017-12-01&amp;b=1">Dec 2017</option>
			<option value="http://helios.oudemo.com/?d=2018-01-01&amp;b=1">Jan 2018</option>
			<option value="http://helios.oudemo.com/?d=2018-02-01&amp;b=1">Feb 2018</option>
			<option value="http://helios.oudemo.com/?d=2018-03-01&amp;b=1">Mar 2018</option>
			<option value="http://helios.oudemo.com/?d=2018-04-01&amp;b=1">Apr 2018</option>
			<option value="http://helios.oudemo.com/?d=2018-05-01&amp;b=1">May 2018</option>
			<option value="http://helios.oudemo.com/?d=2018-06-01&amp;b=1">Jun 2018</option>
			<option value="http://helios.oudemo.com/?d=2018-07-01&amp;b=1">Jul 2018</option>
			<option value="http://helios.oudemo.com/?d=2018-08-01&amp;b=1">Aug 2018</option>
			<option value="http://helios.oudemo.com/?d=2018-09-01&amp;b=1">Sep 2018</option>
			<option value="http://helios.oudemo.com/?d=2018-10-01&amp;b=1" selected="selected">Oct 2018</option>
			<option value="http://helios.oudemo.com/?d=2018-11-01&amp;b=1">Nov 2018</option>
			<option value="http://helios.oudemo.com/?d=2018-12-01&amp;b=1">Dec 2018</option>
			<option value="http://helios.oudemo.com/?d=2019-01-01&amp;b=1">Jan 2019</option>
			<option value="http://helios.oudemo.com/?d=2019-02-01&amp;b=1">Feb 2019</option>
			<option value="http://helios.oudemo.com/?d=2019-03-01&amp;b=1">Mar 2019</option>
			<option value="http://helios.oudemo.com/?d=2019-04-01&amp;b=1">Apr 2019</option>
			<option value="http://helios.oudemo.com/?d=2019-05-01&amp;b=1">May 2019</option>
			<option value="http://helios.oudemo.com/?d=2019-06-01&amp;b=1">Jun 2019</option>
			<option value="http://helios.oudemo.com/?d=2019-07-01&amp;b=1">Jul 2019</option>
			<option value="http://helios.oudemo.com/?d=2019-08-01&amp;b=1">Aug 2019</option>
			<option value="http://helios.oudemo.com/?d=2019-09-01&amp;b=1">Sep 2019</option>
			<option value="http://helios.oudemo.com/?d=2019-10-01&amp;b=1">Oct 2019</option>	
		</select>
			</li>
			<li class="nav"><a href="http://helios.oudemo.com/?d=2018-11-01" id="fe_nm" rel="nofollow" title="Next Month"><span class="sr-only">Next Month</span>&gt;</a></li>
		</ul>
		<table>
	<tbody><tr>
		
		<th class="dow" scope="col">S<span class="sr-only">(Sunday)</span></th>
		<th class="dow" scope="col">M<span class="sr-only">(Monday)</span></th>
		<th class="dow" scope="col">T<span class="sr-only">(Tuesday)</span></th>
		<th class="dow" scope="col">W<span class="sr-only">(Wednesday)</span></th>
		<th class="dow" scope="col">T<span class="sr-only">(Thursday)</span></th>
		<th class="dow" scope="col">F<span class="sr-only">(Friday)</span></th>
		<th class="dow" scope="col">S<span class="sr-only">(Saturday)</span></th>
	</tr>
	<tr>
		<td class="blank">&nbsp;</td>
		<td class="empty">01</td>
		<td class="events"><a href="http://helios.oudemo.com/index.php?d=2018-10-2&amp;m=1" id="fe_d2" aria-label="2 October, 2018" rel="nofollow">02</a></td>
		<td class="empty">03</td>
		<td class="events"><a href="http://helios.oudemo.com/index.php?d=2018-10-4&amp;m=1" id="fe_d4" aria-label="4 October, 2018" rel="nofollow">04</a></td>
		<td class="events"><a href="http://helios.oudemo.com/index.php?d=2018-10-5&amp;m=1" id="fe_d5" aria-label="5 October, 2018" rel="nofollow">05</a></td>
		<td class="events"><a href="http://helios.oudemo.com/index.php?d=2018-10-6&amp;m=1" id="fe_d6" aria-label="6 October, 2018" rel="nofollow">06</a></td>
	</tr>
	<tr>
		<td class="empty">07</td>
		<td class="empty">08</td>
		<td class="empty">09</td>
		<td class="events"><a href="http://helios.oudemo.com/index.php?d=2018-10-10&amp;m=1" id="fe_d10" aria-label="10 October, 2018" rel="nofollow">10</a></td>
		<td class="events"><a href="http://helios.oudemo.com/index.php?d=2018-10-11&amp;m=1" id="fe_d11" aria-label="11 October, 2018" rel="nofollow">11</a></td>
		<td class="events"><a href="http://helios.oudemo.com/index.php?d=2018-10-12&amp;m=1" id="fe_d12" aria-label="12 October, 2018" rel="nofollow">12</a></td>
		<td class="events"><a href="http://helios.oudemo.com/index.php?d=2018-10-13&amp;m=1" id="fe_d13" aria-label="13 October, 2018" rel="nofollow">13</a></td>
	</tr>
	<tr>
		<td class="events"><a href="http://helios.oudemo.com/index.php?d=2018-10-14&amp;m=1" id="fe_d14" aria-label="14 October, 2018" rel="nofollow">14</a></td>
		<td class="empty">15</td>
		<td class="events"><a href="http://helios.oudemo.com/index.php?d=2018-10-16&amp;m=1" id="fe_d16" aria-label="16 October, 2018" rel="nofollow">16</a></td>
		<td class="empty">17</td>
		<td class="empty">18</td>
		<td class="events"><a href="http://helios.oudemo.com/index.php?d=2018-10-19&amp;m=1" id="fe_d19" aria-label="19 October, 2018" rel="nofollow">19</a></td>
		<td class="events"><a href="http://helios.oudemo.com/index.php?d=2018-10-20&amp;m=1" id="fe_d20" aria-label="20 October, 2018" rel="nofollow">20</a></td>
	</tr>
	<tr>
		<td class="events"><a href="http://helios.oudemo.com/index.php?d=2018-10-21&amp;m=1" id="fe_d21" aria-label="21 October, 2018" rel="nofollow">21</a></td>
		<td class="events"><a href="http://helios.oudemo.com/index.php?d=2018-10-22&amp;m=1" id="fe_d22" aria-label="22 October, 2018" rel="nofollow">22</a></td>
		<td class="events"><a href="http://helios.oudemo.com/index.php?d=2018-10-23&amp;m=1" id="fe_d23" aria-label="23 October, 2018" rel="nofollow">23</a></td>
		<td class="events"><a href="http://helios.oudemo.com/index.php?d=2018-10-24&amp;m=1" id="fe_d24" aria-label="24 October, 2018" rel="nofollow">24</a></td>
		<td class="empty">25</td>
		<td class="events"><a href="http://helios.oudemo.com/index.php?d=2018-10-26&amp;m=1" id="fe_d26" aria-label="26 October, 2018" rel="nofollow">26</a></td>
		<td class="events"><a href="http://helios.oudemo.com/index.php?d=2018-10-27&amp;m=1" id="fe_d27" aria-label="27 October, 2018" rel="nofollow">27</a></td>
	</tr>
	<tr>
		<td class="events"><a href="http://helios.oudemo.com/index.php?d=2018-10-28&amp;m=1" id="fe_d28" aria-label="28 October, 2018" rel="nofollow">28</a></td>
		<td class="empty">29</td>
		<td class="empty">30</td>
		<td class="events"><a href="http://helios.oudemo.com/index.php?d=2018-10-31&amp;m=1" id="fe_d31" aria-label="31 October, 2018" rel="nofollow">31</a></td>
		<td class="blank">&nbsp;</td>
		<td class="blank">&nbsp;</td>
		<td class="blank">&nbsp;</td>
	</tr>
</tbody></table>
	</div>
</form>