<select id="{{include.id}}" class="form-select">
  <option value="">{{include.defaultSelect}}</option>
  <option value="3508993">Academic Calendar</option>
  <option value="4679442">Academic Calendar - Law</option>
  <option value="5359924">Academic Calendar Rome</option>
  <option value="5110598">Academic Service Learning</option>
  <option value="3469755">Alumni Relations</option>
  <option value="3469756">Annual Giving</option>
  <option value="4287843">Art Gallery</option>
  <option value="4565813">Athletic Camps</option>
  <option value="3469757">Athletic Development</option>
  <option value="3509070">Athletics Events</option>
  <option value="4565808">Athletics Support Groups</option>
  <option value="4565739">Auxiliary Services</option>
  <option value="4291627">Bursar</option>
  <option value="3509101">Campus Activities</option>
  <option value="4291678">Campus Recreation</option>
  <option value="3509228">Career Services</option>
  <option value="5079234">Center for Teaching and Learning</option>
  <option value="3508966">College of Pharmacy and Health Sciences</option>
  <option value="3508970">College of Professional Studies</option>
  <option value="4287814">Commencements</option>
  <option value="3470457">Community Relations</option>
  <option value="4651930">Conference &amp; National Tournaments</option>
  <option value="4287855">Conference Services</option>
  <option value="4534108">Design &amp; Construction</option>
  <option value="3508950">Donor Relations</option>
  <option value="4291662">Employee Benefits</option>
  <option value="5979027">Equity and Inclusion Office</option>
  <option value="4291654">Facilities Services</option>
  <option value="4291629">Financial Aid</option>
  <option value="4291679">Fraternity &amp; Sorority Life</option>
  <option value="4565765">Freshman Center</option>
  <option value="3508952">Fundraisers</option>
  <option value="4291655">General Counsel</option>
  <option value="3470383">Gift Planning</option>
  <option value="4291688">Government Relations</option>
  <option value="4291633">Graduate Admissions</option>
  <option value="3509054">Holy Day Closures</option>
  <option value="4291668">Information Technology</option>
  <option value="4291631">International Admissions</option>
  <option value="4565774">International Student and Scholar Services (ISSO)</option>
  <option value="4565755">Language Connection</option>
  <option value="4291691">Marketing &amp; Communications</option>
  <option value="4291692">Media Relations</option>
  <option value="4387423">Men's Baseball</option>
  <option value="4387412">Men's Basketball</option>
  <option value="4291586">Men's Fencing</option>
  <option value="4291589">Men's Golf</option>
  <option value="4387376">Men's Lacrosse</option>
  <option value="4291591">Men's Soccer</option>
  <option value="4291592">Men's Tennis</option>
  <option value="4291680">Multicultural Affairs</option>
  <option value="4291672">Office of Global Studies</option>
  <option value="4291671">Office of Grants and Sponsored Research</option>
  <option value="4291675">Online Learning</option>
  <option value="4291681">Orientation</option>
  <option value="4565805">Performing Arts</option>
  <option value="5978985">President's Office</option>
  <option value="5979569">Provost's Office</option>
  <option value="4657160">Reach, Inspire, Succeed, Empower (R.I.S.E.)</option>
  <option value="4291682">Residence Life</option>
  <option value="3508980">School of Law</option>
  <option value="4657205">Sexual violence Outreach, Awareness, and Response (SOAR)</option>
  <option value="4291676">Special and Opportunity Programs</option>
  <option value="3498049">Washington'sCollege of Liberal Arts and Sciences</option>
  <option value="4565799">Washington'sServes</option>
  <option value="4291683">Student Government Inc (SGI)</option>
  <option value="4578951">Student Programming Board</option>
  <option value="4565743">Sustainability</option>
  <option value="3498050">The Peter J. Tobin College of Business</option>
  <option value="3498048">The School of Education</option>
  <option value="4291663">Training \u0026 Development</option>
  <option value="4291632">Transfer</option>
  <option value="3508996">Undergraduate Admissions</option>
  <option value="5972608">University Events</option>
  <option value="3508997">University Events Ceremonial</option>
  <option value="3508984">University Libraries</option>
  <option value="3509071">University Ministry</option>
  <option value="3509077">University Mission</option>
  <option value="3509076">Vincentian Center for Church</option>
  <option value="3509081">Vincentian Institute for Social Justice</option>
  <option value="4291685">Wellness</option>
  <option value="4387421">Women's Basketball</option>
  <option value="4291594">Women's Cross Country</option>
  <option value="4291595">Women's Fencing</option>
  <option value="4291596">Women's Golf</option>
  <option value="4291604">Women's Indoor Track &amp; Field</option>
  <option value="4291606">Women's Outdoor Track &amp; Field</option>
  <option value="4291597">Women's Soccer</option>
  <option value="4387425">Women's Softball</option>
  <option value="4291602">Women's Tennis</option>
  <option value="4291603">Women's Volleyball</option>
  <option value="4697084">Writing Center</option>
</select>