{% if include.basic-table %}
  <table>
    <tbody>
  		<tr>
  			<td>Vehicula Tellus Malesuada Dapibus Euismod</td>
  			<td>Vehicula Tellus Malesuada Dapibus Euismod</td>
  			<td>Vehicula Tellus Malesuada Dapibus Euismod</td>
  		</tr>
  		<tr>
  			<td>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</td>
  			<td>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</td>
  			<td>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</td>
  		</tr>
  		<tr>
  			<td>Vehicula Tellus Malesuada Dapibus Euismod</td>
  			<td>Vehicula Tellus Malesuada Dapibus Euismod</td>
  			<td>Vehicula Tellus Malesuada Dapibus Euismod</td>
  		</tr>
  		<tr>
  			<td>Vehicula Tellus Malesuada Dapibus Euismod</td>
  			<td>Vehicula Tellus Malesuada Dapibus Euismod</td>
  			<td>Vehicula Tellus Malesuada Dapibus Euismod</td>
  		</tr>
  		<tr>
  			<td>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</td>
  			<td>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</td>
  			<td>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</td>
  		</tr>
  	</tbody>
  </table>
{% endif %}
{% if include.all-table-headers %}
  <table>
  	<thead>
  		<tr>
  			<th scope="col">Table Header 1</th>
  			<th scope="col">Table Header 2</th>
  			<th scope="col">Table Header 3</th>
  			<th scope="col">Table Header 4</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr>
  			<th scope="row">Table Header Row 1</th>
  			<td>Vehicula Tellus Malesuada Dapibus Euismod 1</td>
  			<td>Vehicula Tellus Malesuada Dapibus Euismod 1</td>
  			<td>Vehicula Tellus Malesuada Dapibus Euismod 1</td>
  		</tr>
  		<tr>
  			<th scope="row">Table Header Row 2</th>
  			<td>Vehicula Tellus Malesuada Dapibus Euismod 2</td>
  			<td>Vehicula Tellus Malesuada Dapibus Euismod 2</td>
  			<td>Vehicula Tellus Malesuada Dapibus Euismod 2</td>
  		</tr>
  		<tr>
  			<th scope="row">Table Header Row 3</th>
  			<td>Vehicula Tellus Malesuada Dapibus Euismod 3</td>
  			<td>Vehicula Tellus Malesuada Dapibus Euismod 3</td>
  			<td>Vehicula Tellus Malesuada Dapibus Euismod 3</td>
  		</tr>
  		<tr>
  			<th scope="row">Table Header Row 4</th>
  			<td>Vehicula Tellus Malesuada Dapibus Euismod 4</td>
  			<td>Vehicula Tellus Malesuada Dapibus Euismod 4</td>
  			<td>Vehicula Tellus Malesuada Dapibus Euismod 4</td>
  		</tr>
  		<tr>
  			<th scope="row">Table Header Row 5</th>
  			<td>Vehicula Tellus Malesuada Dapibus Euismod 5</td>
  			<td>Vehicula Tellus Malesuada Dapibus Euismod 5</td>
  			<td>Vehicula Tellus Malesuada Dapibus Euismod 5</td>
  		</tr>
  	</tbody>
  </table>
{% endif %}
{% if include.table-row-header %}
  <table>
  	<thead>
  		<tr>
  			<th scope="col">Table Header 1</th>
  			<th scope="col">Table Header 2</th>
  			<th scope="col">Table Header 3</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr>
  			<td>Vehicula Tellus Malesuada Dapibus Euismod</td>
  			<td>Vehicula Tellus Malesuada Dapibus Euismod</td>
  			<td>Vehicula Tellus Malesuada Dapibus Euismod</td>
  		</tr>
  		<tr>
  			<td>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</td>
  			<td>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</td>
  			<td>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</td>
  		</tr>
  		<tr>
  			<td>Vehicula Tellus Malesuada Dapibus Euismod</td>
  			<td>Vehicula Tellus Malesuada Dapibus Euismod</td>
  			<td>Vehicula Tellus Malesuada Dapibus Euismod</td>
  		</tr>
  		<tr>
  			<td>Vehicula Tellus Malesuada Dapibus Euismod</td>
  			<td>Vehicula Tellus Malesuada Dapibus Euismod</td>
  			<td>Vehicula Tellus Malesuada Dapibus Euismod</td>
  		</tr>
  		<tr>
  			<td>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</td>
  			<td>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</td>
  			<td>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</td>
  		</tr>
  	</tbody>
  </table>
{% endif %}
{% if include.table-column-header %}
  <table>
  	<tbody>
  		<tr>
  			<th scope="row">Table Header</th>
  			<td>Not a Table Header</td>
  			<td>Not a Table Header</td>
  		</tr>
  		<tr>
  			<th scope="row">Vehicula Tellus Malesuada Dapibus Euismod</th>
  			<td>Vehicula Tellus Malesuada Dapibus Euismod</td>
  			<td>Vehicula Tellus Malesuada Dapibus Euismod</td>
  		</tr>
  		<tr>
  			<th scope="row">Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</th>
  			<td>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</td>
  			<td>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</td>
  		</tr>
  		<tr>
  			<th scope="row">Vehicula Tellus Malesuada Dapibus Euismod</th>
  			<td>Vehicula Tellus Malesuada Dapibus Euismod</td>
  			<td>Vehicula Tellus Malesuada Dapibus Euismod</td>
  		</tr>
  		<tr>
  			<th scope="row">Vehicula Tellus Malesuada Dapibus Euismod</th>
  			<td>Vehicula Tellus Malesuada Dapibus Euismod</td>
  			<td>Vehicula Tellus Malesuada Dapibus Euismod</td>
  		</tr>
  		<tr>
  			<th scope="row">Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</th>
  			<td>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</td>
  			<td>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</td>
  		</tr>
  	</tbody>
  </table>
{% endif %}