<footer class="site-footer">
  <div class="site-footer__upper site-footer__ctas">

  </div>
  <div class="site-footer__middle">
    <div class="row">
      <div class="small-12 large-4 columns contact-column">
        <div class="fa-list-item far fa-map-marker-alt">
          <span>300 Washington Avenue</span>
          <span>Chestertown, Maryland 21620</span>
          <a href="#" class="arrow-link"><span class="arrow-link__link">Maps and Directions</span>
            <div class="arrow-link__icon" aria-hidden="true"></div>
          </a>
        </div>
        <div class="fa-list-item far fa-phone">
          <a href="tel:800-422-1782">800-422-1782</a>
          <a href="#" class="arrow-link"><span class="arrow-link__link">Contact Us</span>
            <div class="arrow-link__icon" aria-hidden="true"></div>
          </a>
        </div>
      </div>
      <div class="small-12 large-4 columns">
        <img src="/assets/icons/footer-logo.svg" width="336" height="87" aria-hidden="true"
          alt="Washington College Logo">
      </div>
      <div class="small-12 large-4 columns social-column">
        <ul class="social-media-list">
          <li><a href="#" class="fab fa-youtube"><span class="show-for-sr">Youtube</span></a></li>
          <li><a href="" class="fab fa-facebook"><span class="show-for-sr">Facebook</span></a></li>
          <li><a href="" class="fab fa-twitter"><span class="show-for-sr">Twitter</span></a></li>
          <li><a href="" class="fab fa-instagram"><span class="show-for-sr">Instagram</span></a></li>
        </ul>
        <a href="#" class="arrow-link"><span class="arrow-link__link">Social Media Directory</span>
          <div class="arrow-link__icon" aria-hidden="true"></div>
        </a>
      </div>
    </div>
  </div>
  <div class="site-footer__lower">
    <div class="padded-row">
      <ul>
        <li><a title="Title IX" href="/title-ix/index.php">Title IX</a></li>
        <li><a title="Disability Services"
            href="/people_departments/offices/disability-services/index.php">Accessibility</a></li>
        <li><a title="Privacy Policy" href="/privacy-policy/index.php">Privacy</a></li>
        <li><a title="Consumer Information"
            href="/people_departments/offices/institutional-research/consumer-information.php">Consumer Information</a>
        </li>
        <li><a title="Diversity Statement" href="/campus-community/diversity-equity-and-inclusion/index.php">Diversity
            Statement</a></li>
        <li><a title="Employment" href="/people_departments/offices/human-resources/employment/index.php">Employment</a>
        </li>
      </ul>
      <p>© 2023 Washington College</p>
    </div>
  </div>
</footer>