<section class="section--accordions section--global-spacing--large">
  {% if include.title %}
    <div class="padded-row">
      <div class="lined-section-title">
        <div class="line-decoration" ariah-hidden="true"></div>
        <h2>{{include.title}}</h2>
      </div>
    </div>
  {% endif %}
  <div class="padded-row">
    <div class="accordion-drop-down accordion-drop-down--standard">
      <button type="button" class="accordion-drop-down__toggle">Accordion Drop Down Fusce Pellentesque Cras Venenatis
        <span class="show-for-sr">Click to Open</span>
        <svg version="1.1" class="accordion-drop-down__icon plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve"><rect class="vertical" x="14" width="2" height="30"/><rect class="horizontal" y="14" width="30" height="2"/></svg>
      </button>
      <div class="accordion-drop-down__toggled-content">
        <div class="accordion-drop-down__toggled-content__inner">
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non metus auctor fringilla. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
        </div>
      </div>
    </div>
    <div class="accordion-drop-down accordion-drop-down--standard">
      <button type="button" class="accordion-drop-down__toggle">Ullamcorper Pellentesque
        <span class="show-for-sr">Click to Open</span>
        <svg version="1.1" class="accordion-drop-down__icon plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve"><rect class="vertical" x="14" width="2" height="30"/><rect class="horizontal" y="14" width="30" height="2"/></svg>
      </button>
      <div class="accordion-drop-down__toggled-content">
        <div class="accordion-drop-down__toggled-content__inner">
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non metus auctor fringilla. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
        </div>
      </div>
    </div>
    <div class="accordion-drop-down accordion-drop-down--standard">
      <button type="button" class="accordion-drop-down__toggle">Ipsum Pellentesque Commodo
        <span class="show-for-sr">Click to Open</span>
        <svg version="1.1" class="accordion-drop-down__icon plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve"><rect class="vertical" x="14" width="2" height="30"/><rect class="horizontal" y="14" width="30" height="2"/></svg>
      </button>
      <div class="accordion-drop-down__toggled-content">
        <div class="accordion-drop-down__toggled-content__inner">
          <p>Donec ullamcorper nulla non metus auctor fringilla. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
        </div>
      </div>
    </div>

  </div>
</section>