<section class="section--banded--large section--differentiators section--global-spacing {{include.classModifier}}">
  <div class="padded-row">
    <div class="lined-section-title">
      <div class="line-decoration" ariah-hidden="true"></div>
      <h2>Differentiators Section</h2>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-4 columns">
      {% include components/differentiator.html stat="93%" title="Dapibus Etiam Sollicitudin" description="Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et." %}
    </div>
    <div class="small-12 medium-4 columns">
      {% include components/differentiator.html icon="true" title="Condimentum Sollicitudin Pellentesque Cursus" description="Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit." %}
    </div>
    <div class="small-12 medium-4 columns">
      {% include components/differentiator.html src="true" title="Parturient Fermentum Bibendum Quam" link_title="true" %}
    </div>
  </div>
</section>
