<section class="section--global-spacing--large section--faculty-spotlight section--banded section--banded--dark-blue">
  <article class="faculty-spotlight">
    <div class="row">
      <div class="faculty-spotlight__media">
        <img src="//placehold.it/440x700" alt="#" width="440" height="700">
      </div>
      <div class="faculty-spotlight__content">
        <h2 class="h3">Larry Lanspeak</h2>
        <span class="position">Position 1</span>
        <span class="position">Position 2</span>
        <div aria-hidden="true" class="line-decoration"></div>
        <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <a href="#" class="btn btn--white">Meet Larry Lanspeak</a>
      </div> 
    </div>
  </article>
</section>