<section class="section--global-spacing featured-events-2023">
  <div class="padded-row">
    <div class="lined-section-title">
      <h2>Featured Events</h2>
    </div>
  </div>
  <div class="featured-events-2023__itens-wrapper padded-row ">
    {% for i in (0..2) %}
    <article data-name="Necessary Trouble: Truthtelling and Changemaking in America" class="featured-events-2023__item">
      <div class="featured-events-2023__media">
        <img src="https://source.unsplash.com/random/325X350/?event" alt="event">
      </div>
      <div class="featured-events-2023__content">
        <div class="event-label ">Perf. Arts & Exhibitions</div>
        <h3 class="event-list-title">
          <a href="https://www.washcoll.edu/Calendar/index.php#event-details/d049008b-1031-4304-8d97-2fd014fecb41"
            data-action="routeChange">Necessary Trouble: Truthtelling and Changemaking in America</a>
        </h3>
        <div class="date detail-with-icon" aria-label="Event Date">
          <svg class="svg-inline--fa fa-calendar-alt fa-w-14 icon" aria-hidden="true" focusable="false"
            data-prefix="fas" data-icon="calendar-alt" role="img" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512" data-fa-i2svg="">
            <path fill="currentColor"
              d="M0 464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V192H0v272zm320-196c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zm0 128c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zM192 268c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zm0 128c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zM64 268c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H76c-6.6 0-12-5.4-12-12v-40zm0 128c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H76c-6.6 0-12-5.4-12-12v-40zM400 64h-48V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H160V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H48C21.5 64 0 85.5 0 112v48h448v-48c0-26.5-21.5-48-48-48z">
            </path>
          </svg>
          <!-- <i class="icon fas fa-calendar-alt"></i> Font Awesome fontawesome.com -->
          <div>April 6 – May 15, 2023. 7:00 PM - 5:00 PM (Eastern)</div>
        </div>
        <div class="location detail-with-icon" aria-label="Event Location">
          <svg class="svg-inline--fa fa-map-marker-alt fa-w-12 icon" aria-hidden="true" focusable="false"
            data-prefix="fas" data-icon="map-marker-alt" role="img" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 384 512" data-fa-i2svg="">
            <path fill="currentColor"
              d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z">
            </path>
          </svg>
          <!-- <i class="icon fas fa-map-marker-alt"></i> Font Awesome fontawesome.com -->
          <div>Miller Library CES, Starr Center, Bunting, Literary House, Kohl Gallery/Gibson Center for the Arts
          </div>
        </div>
        <div class="ticket detail-with-icon" aria-label="Ticket">
          <svg class="svg-inline--fa" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
            <path
              d="M128 160h320v192H128V160zm400 96c0 26.51 21.49 48 48 48v96c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48v-96c26.51 0 48-21.49 48-48s-21.49-48-48-48v-96c0-26.51 21.49-48 48-48h480c26.51 0 48 21.49 48 48v96c-26.51 0-48 21.49-48 48zm-48-104c0-13.255-10.745-24-24-24H120c-13.255 0-24 10.745-24 24v208c0 13.255 10.745 24 24 24h336c13.255 0 24-10.745 24-24V152z" />
          </svg> <!-- <i class="icon fas fa-map-marker-alt"></i> Font Awesome fontawesome.com -->
          <div>$15.00 - $20.00 <a href="#">Purchase Tickets</a>
          </div>
        </div>
      </div>
    </article>
    {% endfor %}
  </div>
  <div class="padded-row section__btn-row"><a href="#" class="btn">View All Events</a></div>
</section>