<section class="section--story-feature section--global-spacing--large {{include.classModifier}} anim-item">
  <div class="slider-row--stories">
    {% include components/story.html name="Carlee Berkenkemper" activities="true" learn="true" %}
    {% if include.singleStory != "true" %}
    {% include components/story.html name="Tortoripsum Fringilla Risus" activities="true" learn="true" %}
    {% include components/story.html name="Justo Venenatis Porta Magna Ornare" %}
    {% endif %}
  </div>
  <div class="story-arrow-container"></div>
</section>