<section class="section--global-spacing section--events">
  {% include components/components__micro/section-title.html title="Upcoming Events" %}
  <div class="row sequence-anim-parent">
    <div class="small-12 medium-4 columns sequence-anim-item fade-up-in">
      {% include components/featured-event-item.html day="1" month-year="October 2019" title="Lorem ipsum dolor sit
      amet, consectetur adipiscing elit. Praesent commodo cursus magna." %}
    </div>
    <div class="small-12 medium-4 columns sequence-anim-item fade-up-in">
      {% include components/featured-event-item.html day="31" month-year="November 2019" title="Cras Quam" %}
    </div>
    <div class="small-12 medium-4 columns sequence-anim-item fade-up-in">
      {% include components/featured-event-item.html day="25" month-year="December 2019" title="Pharetra Dapibus Tellus
      Tortor Ridiculus" %}
    </div>
  </div>
  <div class="padded-row section__btn-row"><a href="#" class="btn">View All Events</a></div>
</section>