<section class="section--profiles  anim-item">
  <div class="padded-row">
    <div class="lined-section-title">
      <div class="line-decoration" ariah-hidden="true"></div>
      <h2>Title for the Profile Feature</h2>
      <p class="grid-max-960">Aenean lacinia bibendum nulla sed consectetur. Donec sed odio dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus mollis interdum.</p>
      <a class="btn" href="#">All People & Departments</a>
    </div>
  </div>
  <div class="profile-slider-container card-slider-container">
    <div class="slider-row--profiles padded-row card-slider">
      {% include components/profile-feature-item.html name="Ipsum Mattis" position="Fringilla Quam" %}
      {% include components/profile-feature-item.html name="Tristique Magna Fermentum" position="Porta" quote="Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vestibulum id ligula porta felis euismod semper." %}
      {% include components/profile-feature-item.html name="Malesuada Ligula" position="Sollicitudin Ullamcorper Sit" quote="Cras mattis consectetur purus sit amet fermentum." %}
      {% include components/profile-feature-item.html name="Vulputate Nullam" position="Magna" %}
      {% include components/profile-feature-item.html name="Sit Vehicula" position="Lorem Fusce Elit" quote="Donec sed odio dui. Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus." %}
    </div>
  </div>
</section>