<section class="section--global-spacing section--related-programs">
  <div class="padded-row">
    <div class="lined-section-title">
      <div class="line-decoration" ariah-hidden="true"></div>
      <h2>Related Programs</h2>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-4 columns">
      {% include components/related-program.html title="Sem Vehicula Porta" description="Cras mattis consectetur purus sit amet fermentum. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus." %}
    </div>
    <div class="small-12 medium-4 columns">
      {% include components/related-program.html title="Nibh Dolor Mollis Vulputate" description="Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum." multipleTags="true" %}
    </div>
    <div class="small-12 medium-4 columns">
      {% include components/related-program.html title="Dolor Venenatis Malesuada Risus Parturient" description="Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur." %}
    </div>
  </div>
</section>