<section class="section--global-spacing section--secondary-promos">
  <div class="padded-row">
    <div class="lined-section-title">
      <div class="line-decoration" ariah-hidden="true"></div>
      <h2>Secondary Promo Section</h2>
      <p class="grid-max-960">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue.</p>
    </div>
  </div>
  <div class="padded-row  sequence-anim-parent">
    {% include components/secondary-promo-item.html title="Aenean Pellentesque Vulputate" description="Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et." arrowLink="true" src="true" %}
    {% include components/secondary-promo-item.html title="Nibh Vehicula Cras Vestibulum Purus" description="Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur." arrowLinks="true" %}
    {% include components/secondary-promo-item.html title="Elit Condimentum" description="Urna condimentum mattis pellentesque id nibh tortor id aliquet lectus. Euismod quis viverra nibh cras pulvinar mattis. A pellentesque sit amet porttitor eget dolor morbi. Sed pulvinar proin gravida hendrerit lectus. Diam volutpat commodo sed egestas egestas." src="true" %}
    {% include components/secondary-promo-item.html title="Aenean Pellentesque Vulputate" description="Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et." arrowLink="true" src="true" %}
  </div>
</section>