<section class="section--global-spacing--large section--text-cards">
  <div class="padded-row">
    <div class="lined-section-title">
      <div class="line-decoration" ariah-hidden="true"></div>
      <h2> Text Card Section</h2>
      <p class="grid-max-960">Page Intro - only the title for the individual text cards is required</p>
    </div>
  </div>
  <div class="row sequence-anim-parent">
    <div class="small-12 medium-4 columns sequence-anim-item box-shadow-anim">
      {% include components/text-card.html title="Ipsum Mattis Fringilla Elit" description="Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros." btn="true" %}
    </div>
    <div class="small-12 medium-4 columns sequence-anim-item box-shadow-anim">
      {% include components/text-card.html title="Tristique Sit Porta Ultricies Dapibus" %}
    </div>
    <div class="small-12 medium-4 columns sequence-anim-item box-shadow-anim">
      {% include components/text-card.html title="Egestas Ligula Consectetur Malesuada" description="Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et." %}
    </div>
  </div>
</section>