/*
-----------------
DIFFERENTIATORS
-----------------
*/
.section--differentiators {
  position: relative;
  z-index: 3;

  &:not(.section--differentiators--standard) {
    @media #{$small-only} {
      margin-bottom: 0;
    }
  }

  .columns {
    padding: 0;
    border-bottom: rem-calc(2) solid $gray-border;
    display: flex;

    @media #{$medium-up} {
      padding: rem-calc(0 10);
      border-bottom: 0;
    }

    @media #{$large-up} {
      padding: rem-calc(0 20);
    }
  }
}

.differentiator {
  background: #fff;
  padding: rem-calc(30);
  text-align: left;
  width: 100%;
  @extend %small-body;

  @media #{$medium-up} {
    padding: rem-calc(20);
  }

  @media #{$large-up} {
    padding: rem-calc(40);
  }

  &__media {
    margin-bottom: rem-calc(30);
  }

  .stat {
    line-height: 1;
    font-size: rem-calc(80);
    font-family: $serif;
    color: $teal;
    font-weight: bold;
  }

  h3 {
    font-size: rem-calc(21);
    line-height: 1.4;
    color: $dark-teal;
    font-weight: $benton-book;
  }
}

.section--differentiators--standard {
  background: $dark-teal;

  @media #{$small-only} {
    padding-bottom: 0;
    background: none;
  }

  .lined-section-title h2 {
    @media #{$medium-up} {
      color: #fff;

      .line-decoration:after {
        color: #fff;
      }
    }
  }
}

.differentiator.differentiator-2023 {
  padding: 0;

  @media #{$small-only} {
    padding-top: rem-calc(40);
    max-width: 400px;
    margin: auto;
  }

  @media #{$medium-up} {
    @include margins-top(40, 40, 80);
  }

  h3 {
    font-weight: 700;
  }

  .btn-wrap {
    text-align: center;
  }

  .btn {
    text-transform: none;
    line-height: 1.3;
    width: 100%;
  }

  .differentiator__media {
    margin-bottom: 0;
  }

  .differentiator__content {
    padding: rem-calc(30);
  }
}

.section--differentiators.section--differentiators-2023 {
  width: 100%;

  @media #{$small-only} {
    background-color: $white;

    .row {
      flex-direction: column;
    }

    .small-4 {
      max-width: none;
    }
  }

}