<div class="header-super">
  <nav class="navigation">
    <div class="row">
      <div class="menu-block-wrapper">
        <ul class="menu">
          <li>
            <a href="#">Link 1</a>
          </li>
          
          <li>
            <a href="#">Link 2</a>
          </li>
          
          <li>
            <a href="#">Link 3</a>
          </li>
          
          <li>
            <a href="#">Link 4</a>
          </li>
          
          <li>
            <a href="#">Link 5</a>
          </li>
          
          <li>
            <a href="#">Link 6</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
</div>