<section class="alert--site-wide">
  <div class="row">
    <div class="columns small-12 medium-2 large-1">
      <div class="fa fa-exclamation-triangle" aria-hidden="true"></div>
    </div>
    <div class="columns small-12 medium-8 large-9">
      <h2>Announcement Headline</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, veritatis, rerum quia distinctio maiores fugit veniam tenetur dignissimos consequatur saepe.</p>
        <p><a href>Supporting Link Here</a></p>
      </h2>
    </div>
  </div>
</section>