<button type="button" class="accordion-drop-down__toggle accordion-drop-down__toggle--concentrations">{{include.title}}
  <span class="show-for-sr">Click to Open</span>
    <svg version="1.1" class="accordion-drop-down__icon plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve"><rect class="vertical" x="14" width="2" height="30"/><rect class="horizontal" y="14" width="30" height="2"/></svg>
</button>
<div class="accordion-drop-down__toggled-content concentrations__content">
  <div class="accordion-drop-down__toggled-content__inner">
    <div class="concentrations__content__upper">
      <h3>{{include.title}}</h3>
      <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non metus auctor fringilla. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <a href="#" class="btn">View Course Catalogue</a>
    </div>
    <div class="concentrations__content__courses">
      <h4>Special Courses Examples</h4>
      <ul>
        <li>BIO 404: Immunology</li>
        <li>BIO 350: Toxicology</li>
        <li>BIO 409: Biochemistry</li>
      </ul>
    </div>
  </div>
</div>
