<article class="differentiator">
  <div class="differentiator__media">
    {% if include.stat %}
      <span class="stat">{{include.stat}}</span>
    {% endif %}
    {% if include.src %}
      <img src="https://placedog.net/280/240" alt="dog">
    {% endif %}
    {% if include.icon %}
      <img src="/assets/icons/differentiator.svg" alt="#">
    {% endif %}
  </div>
  <div class="differentiator__content">
    <h3>
      {% if include.link_title %}
        <a href="#">{{include.title}}</a>
      {% else %}
        {{include.title}}
      {% endif %}
    </h3>
    {% if include.description %}
      <p>{{include.description}}</p>
    {% endif %}
  </div>
</article>