<section class="newsfeed section section--global-spacing--large">
  <div class="padded-row">
    <div class="lined-section-title">
      <h2>NEWS & STORIES</h2>
    </div>
    <div class="newsfeed__listing-border">
      <article class="newsfeed__item">
        <div class="row">
          <div class="news__media listing-item__media small-12 medium-4 columns">
            <figure>
              <a href="https://www.washcoll.edu/news/index.php">
                <img src="https://source.unsplash.com/random/340X250/?random" alt="portrait of" width="340"
                  height="250">
              </a>
            </figure>
          </div>
          <div class="news__content small-12 medium-8 columns">
            <div class="news__meta listing-item__meta">
              <h2 class="listing-title"><a href="https://www.washcoll.edu/news/index.php">Washington Names Patrick
                  Nugent Director of Civic Engagement for the College</a></h2>
              <p> New position will focus civic engagement efforts across the institution.</p>
              <div class="news__date fa-list-item far fa-calendar-alt"><span>12/22/2022</span></div>
            </div>
          </div>
        </div>
      </article>
      <article class="newsfeed__item">
        <div class="row">
          <div class="news__media listing-item__media small-12 medium-4 columns">
            <figure>
              <a href="https://www.washcoll.edu/news/index.php">
                <img src="https://source.unsplash.com/random/340X250/?random" alt="portrait of" width="340"
                  height="250">
              </a>
            </figure>
          </div>
          <div class="news__content small-12 medium-8 columns">
            <div class="news__meta listing-item__meta">
              <h2 class="listing-title"><a href="https://www.washcoll.edu/news/index.php">Starr Center Receives More
                  Than $200,000 in Grant Funding for Chesapeake Heartland Project</a></h2>
              <p>The grants will fund the project’s continued digitization efforts and the development of an
                interpretive plan to enhance user experiences within the dedicated Chesapeake Heartland website and
                archive.</p>
              <div class="news__date fa-list-item far fa-calendar-alt"><span>12/16/2022</span></div>
            </div>
          </div>
        </div>
      </article>
      <article class="newsfeed__item">
        <div class="row">
          <div class="news__media listing-item__media small-12 medium-4 columns">
            <figure>
              <a href="https://www.washcoll.edu/news/index.php">
                <img src="https://source.unsplash.com/random/340X250/?random" alt="portrait of" width="340"
                  height="250">
              </a>
            </figure>
          </div>
          <div class="news__content small-12 medium-8 columns">
            <div class="news__meta listing-item__meta">
              <h2 class="listing-title"><a href="https://www.washcoll.edu/news/index.php">Washington College Announces
                  Imbruce as CES Director</a></h2>
              <p>Valerie Imbruce, Ph.D., brings experience and vision to Washington College Center for Environment and
                Society.</p>
              <div class="news__date fa-list-item far fa-calendar-alt"><span>11/18/2022</span></div>
            </div>
          </div>
        </div>
      </article>
    </div>

    <div class="btn-wrapper global-spacing--default">
      <a class="btn btn--light">All News</a>
    </div>
  </div>

</section>