---
layout: default
title: Larry Lanspeak
breadcrumbs:
  - Directory
content_type: profile-detail
---

<article class="profile-detail detail-page">
    <div class="padded-row">
        {% if page.breadcrumbs %}
          {% include components/breadcrumbs.html classes="breadcrumbs" %}
        {% endif %}
    </div>
    <div class="row">
      <div class="small-12 columns">
        <h1>{{page.title}}</h1>
      </div>
    </div>
    <div class="row section--global-spacing--large profile-detail__outer-row">
      <!-- Content Column -->
      <div class="small-12 medium-8 columns section--wysiwyg ">
        <div class="profile-detail__upper section--global-spacing">
          <span class="directory-large-list__type">Admissions</span>
          <div class="profile-detail-dept-ct">
              <a href="#">Associated Department</a>
              <a href="#">Associated Center</a>
          </div>
          <div class="directory-positions">
              <ul>
                  <li>Position 1</li>
              </ul>
            </div>
        </div>


      <!-- Image Column -->
      <div class="small-12 medium-4 columns profile-detail__img-column">
        <img src="//placehold.it/360x575" alt="#" width="360" height="575">
          {% include components/contact-block.html name="Larry Lanspeak" hidden_name="true" officeHours="true" %}
      </div><!-- End Image Column -->


        <blockquote>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</blockquote>
        <div class="section--global-spacing--small profile-detail__content-section">
          <h2>About</h2>
          <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Sed posuere consectetur est at lobortis. Vestibulum id ligula porta felis euismod semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>
        <div class="section--global-spacing--small profile-detail__content-section">
          <h2>Areas of Expertise</h2>
          <p>Aenean lacinia bibendum nulla sed consectetur. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
          <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue.</p>
        </div>
        <div class="section--global-spacing--small profile-detail__content-section">
          <h2>Research Interests</h2>
          <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec ullamcorper nulla non metus auctor fringilla. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada magna mollis euismod. Maecenas sed diam eget risus varius blandit sit amet non magna.Maecenas faucibus mollis interdum. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="section--global-spacing--small profile-detail__content-section">
          <h2>Opportunities for Student Involvement</h2> 
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean lacinia bibendum nulla sed consectetur. Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec ullamcorper nulla non metus auctor fringilla.</p>
          <p>Nulla vitae elit libero, a pharetra augue. Etiam porta sem malesuada magna mollis euismod. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>
        <div class="section--global-spacing--small profile-detail__content-section">
          <h2>Education</h2> 
            <p>Aenean lacinia bibendum nulla sed consectetur. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
          <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue.</p>
        </div>
        <div class="section--global-spacing--small profile-detail__content-section profile-detail__content-section--published-works">
          <h2>Published Works</h2>
          <a href="#">Title of Work</a>
          <a href="#">Title of Longer Much Collegiate Very Studious Work</a>
        </div>
        <div class="section--global-spacing--small profile-detail__content-section">
          <h2>Courses Taught</h2>
          <ul>
            <li>CN1111 -  Sorcerer’s Stone</li>
            <li>CN2222 -  Chamber of Secrets</li>
            <li>CN33333 - Prisoner of Azkaban</li>
            <li>CN4444 - Goblet of Fire</li>
          </ul>
        </div>
      </div><!-- End Content Column -->
    </div>
</article>
<section class="section--global-spacing section--featured-in">
  <div class="padded-row">
    <div class="lined-section-title">
      <div class="line-decoration" ariah-hidden="true"></div>
      <h2>Featured In</h2>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-7 columns">
      <div class="featured-news-item--large featured-in-item small-news">
        {% include components/news-item.html title="Fermentum Ultricies Commodo" date="March 39 2019" description="Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit." %}
      </div>
      <div class="featured-news-item--large featured-in-item small-news">
        {% include components/news-item.html title="Ullamcorper Parturient Porta Egestas Mollis Elit Cursus" externalLink="true" date="March 29 2019 • National Geographic" description="Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue. Morbi leo risus, porta ac consectetur ac, vestibulum at eros." %}
      </div>
    </div>
    <div class="small-12 medium-5 columns">
      <div class="featured-news-item--large featured-in-item small-news featured-in-item small-news--quote">
        <article class="news-item">
          <div class="news-item__media">
              <a href="#"><img src="http://placehold.it/180x270" alt="#" width="180" height="270"></a> 
          </div>
          <div class="news-item__content">
            <blockquote>Maecenas faucibus mollis interdum. Nulla vitae elit libero, a pharetra augue. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</blockquote>
            <a href="#" class="arrow-link"><span class="arrow-link__link">Ullamcorper</span><div class="arrow-link__icon" aria-hidden="true"></div></a>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>