---
layout: default
title: Biology
breadcrumbs:
  - Majors & Minors
content_type: program
---
<article class="program-detail">
  {% include components/hero.html src="../assets/img/hero-img-common.jpg" video_src="https://player.vimeo.com/external/264260655.sd.mp4?s=5bffe0d3766c547c7eb27d5f12b72b2f34ea5753&profile_id=165" class_modifier="hero--parallax hero--secondary" overlay="true" %}
  <div class="parallax-mask clearfix">
    <section class="section--page-starter">
      <div class="page-starter">
        <div class="page-starter__inner">
          {% if page.breadcrumbs %}
            {% include components/breadcrumbs.html classes="breadcrumbs" %}
          {% endif %}
          <div class="program-detail__meta">
            <span class="eyebrow">Major</span>
            <span class="eyebrow">Minor</span>
            <div class="program-areas tags">
              <ul>
                <li class="area-of-study-item">Magna</li>
                <li class="area-of-study-item">Pellentesque Consectetur</li>
                <li class="area-of-study-item">Condimentum</li>
              </ul>
            </div>
          </div>
          <h1>{{page.title}}</h1>
        </div>
      </div>
    </section>
    <section class="section--global-spacing section--program-detail-info">
      <div class="row">
        <div class="small-12 medium-8 columns section--wysiwyg">
          <h2>About {{page.title}}</h2>
          <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          <ul>
            <li>Elit Condimentum Ipsum Inceptos</li>
            <li>Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</li>
            <li>Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Curabitur blandit tempus porttitor.</li>
          </ul>
          <div class="accordion-drop-down accordion-drop-down--standard">
            <button type="button" class="accordion-drop-down__toggle">Accordion Drop Down Fusce Pellentesque Cras Venenatis
              <span class="show-for-sr">Click to Open</span>
              <svg version="1.1" class="accordion-drop-down__icon plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve"><rect class="vertical" x="14" width="2" height="30"/><rect class="horizontal" y="14" width="30" height="2"/></svg>
            </button>
            <div class="accordion-drop-down__toggled-content">
              <div class="accordion-drop-down__toggled-content__inner">
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non metus auctor fringilla. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
              </div>
            </div>
          </div>
          <div class="accordion-drop-down accordion-drop-down--standard">
            <button type="button" class="accordion-drop-down__toggle">Ullamcorper Pellentesque
              <span class="show-for-sr">Click to Open</span>
              <svg version="1.1" class="accordion-drop-down__icon plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve"><rect class="vertical" x="14" width="2" height="30"/><rect class="horizontal" y="14" width="30" height="2"/></svg>
            </button>
            <div class="accordion-drop-down__toggled-content">
              <div class="accordion-drop-down__toggled-content__inner">
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non metus auctor fringilla. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
              </div>
            </div>
          </div>
          <div class="accordion-drop-down accordion-drop-down--standard">
            <button type="button" class="accordion-drop-down__toggle">Ipsum Pellentesque Commodo
              <span class="show-for-sr">Click to Open</span>
              <svg version="1.1" class="accordion-drop-down__icon plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve"><rect class="vertical" x="14" width="2" height="30"/><rect class="horizontal" y="14" width="30" height="2"/></svg>
            </button>
            <div class="accordion-drop-down__toggled-content">
              <div class="accordion-drop-down__toggled-content__inner">
                <p>Donec ullamcorper nulla non metus auctor fringilla. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="small-12 medium-4 columns program-detail__sidebar">
          {% include components/contact-block.html src="true" name="Purus Porta" position="Position or Title" %}
          <aside class="program-detail__sidebar-card">
            <div class="program-detail__sidebar-card__info-item">
              <span class="eyebrow">Department</span>
              <a href="#">Department of Biology</a>
            </div>
            <div class="program-detail__sidebar-card__info-item">
              <span class="eyebrow">More Information</span>
              <a href="#">Course Catalog</a>
            </div>
          </aside>
        </div>
      </div>
    </section>
    {% include components/modules/concentrations.html %}    
    {% include components/modules/text-cards.html %}
    {% include components/modules/differentiators.html classModifier="section--differentiators--standard" %}
    {% include components/modules/four-year-plan.html %}
    {% include components/modules/secondary-promos.html %}
    {% include components/modules/faculty-spotlight.html %}
    {% include components/modules/profile-feature.html %}
    {% include components/modules/related-programs.html %}
    {% include components/modules/featured-news.html updates="true" updates-slider="true" %}
    {% include components/modules/featured-events.html %}
  </div>
</article>