<div id="edit-tag-wrapper" class="views-exposed-widget views-widget-filter-field_news_tags_tid">
    <label for="edit-tag">{{ include.label }} </label>
    <div class="views-widget">
          <div class="form-item form-type-select form-item-tag">
              <select id="edit-tag" name="tag" class="form-select">
                  <option value="All" selected="selected">- All -</option>
                  <option value="3">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="1">Option 3</option>
              </select>
          </div>
      </div>
  </div>