<div class="system-region">
  <div class="padded-row">
    <div class="system-messages">
      
      <div role="contentinfo" aria-label="Error message" class="messages messages--error">
        <div role="alert">
          <h2 class="visually-hidden">Error message</h2>
            <ul>
              <li>Alert message. Indicates urgent notification or an <a href>error</a>.</li>
            </ul>
        </div>
      </div><!-- /.alert -->
      
      <div role="contentinfo" aria-label="Status message" class="messages messages--status">
        <h2 class="visually-hidden">Status Message</h2>
        <ul>
          <li>Status message. Informs the user that an action has completed <a href>successfully</a>.</li>
        </ul>
      </div><!-- /.status message -->
      
    </div>
    <div class="admin-tabs">
      <h2 class="visually-hidden">Primary tabs</h2>
      <ul>
        <li><a href class="is-active">View<span class="visually-hidden">(active tab)</span></a></li>
        <li><a href>New draft</a></li>
        <li><a href>Delete</a></li>
        <li><a href>Revisions</a></li>
        <li><a href>Devel</a></li>
      </ul>
    </div>
  </div>
</div>
